main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  .items {
    padding: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
}
